---
layout: default
title: MAC | Salón de Julio
nav-area: home
---
<div class=site-section-head>
    <section>
        <article class="breaking">
          {% assign post = site.posts.first %}
          {% assign content = post.content %}

          {% if post.image %}
          <img src="{{ post.image }}" alt="Fotografía de {{ post.title }}">
          {% endif %}

            <h1><a class="no-hov" href="{{post.url}}">{{ post.title }}</a></h1>
            <h2>{{ post.comment }}</h2>
            {{ post.excerpt }}
            <p><i class="fa fa-arrow-circle-right"></i> <a href="{{post.url}}">{{ post.ffw }}</a></p>
          </article>

          {% for post in site.posts offset: 1 limit: 2 %}
        <article>
          {% if post.image %}
          <img src="{{ post.image }}" alt="Fotografía de {{ post.title }}">
          {% endif %}

            <h1><a class="no-hov" href="{{post.url}}">{{ post.title }}</a></h1>
            <h2>{{ post.comment }}</h2>
            {{ post.excerpt }}
            <p><i class="fa fa-arrow-circle-o-right"></i> <a href="{{post.url}}">{{ post.ffw }}</a></p>
        </article>
            {% endfor %}
        </section>

        <section>
              {% for post in site.posts offset: 3 limit: 3 %}
            <article>
              {% if post.image %}
              <img src="{{ post.image }}" alt="Fotografía de {{ post.title }}">
              {% endif %}

                <h1><a class="no-hov" href="{{post.url}}">{{ post.title }}</a></h1>
                <h2>{{ post.comment }}</h2>
                {{ post.excerpt }}
                <p><i class="fa fa-arrow-circle-o-right"></i> <a href="{{post.url}}">{{ post.ffw }}</a></p>
            </article>
                {% endfor %}
            </section>
</div><!-- End site section-head -->
