---
layout: stars
title: Projects
---
<div class="container">

  <h2 class="league-two">ACTIVIDADES PERMANENTES</h2>

  {% assign projects = site.projects | sort: 'listing-priority' %}
  {% for project in projects %}

  <div class="row gutters" style="padding-bottom:30px;">
  <div class="col col-5">
    {% if project.image %}
  <figure style="padding-top:15px;">
    <img style="border-radius: 5px" src="{{ project.image }}">
  </figure>
    {% endif %}

  </div>
  <div class="col col-7" style="color:rgba(255,255,255,0.5); text-align:left;">
      <h2><a href="{{ project.url }}">{{ project.title }}</a></h2>
      {{ project.excerpt }}
  </div>
</div>

    {% endfor %}

  </div>
