<div class="site-section site-section-video">
  <div class="container fauno-bg">
<h2 class="league-five">DESCUBRE<br  />&laquo;ARTE, CULTURA Y ENTRETENIMIENTO EN LA CIUDAD&raquo;
</h2>
    <div style="padding-left:0;color:#1a1a1a;" class="grid">
      <div class="grid-cell-left">
        <figure class="wow bounceInLeft" >
          <img src="img/agenda-01.jpg" style="-webkit-box-shadow: 3px 4px 15px 0px rgba(0,0,0,0.75);border: 7px solid rgba(255,255,255,0.5);"/>
        </figure>
      </div>
      <div class="grid-cell-left">
        <h5><i class="fa fa-calendar"></i>&nbsp; AGENDA SEMANAL</h5>
        <h4><i class="fa fa-pencil-square-o"></i>&nbsp; PROGRAMA OFICIAL DE EVENTOS DE LA DIRECCIÓN DE CULTURA DE LA M. I. MUNICIPALIDAD DE GUAYAQUIL </h4>
        <p>
          <strong>Cada semana </strong>nuestra programación ofrece diversos eventos culturales como exposiciones plásticas, conciertos musicales, conferencias de arte, historia y literatura, entre otros.
        </p>
        <p>
          Todos los eventos están abiertos al público en general y la entrada es libre.
        </p>
        <p>
          <small><b>Museo Municipal de Guayaquil &copy;2017</b></small>
        </p>
      </div>
    </div>
    <div class=cta-option>
      <a class="btn btn-alt" href="https://www.salondejulio.com/agenda">AGENDA CULTURAL
      </a>
    </div>
    <a href="https://www.salondejulio.com/agenda"><figure>
    <img width="175" src="http://www.museoarteyciudad.com/img/desk.svg"/>
    </figure>
    </a>
  </div>
</div><!-- end site-section with grid -->
