<div class="site-section site-section-video" style="margin-bottom:0  !important;">
  <h2 class="league-teal">&laquo;CICLO DE CONFERENCIAS 2017&raquo;</h2>
      <div id="image_container">
      <div class="flex-img">
        <img src="http://res.cloudinary.com/magnvs/image/upload/v1499922488/ciclo-confSJ_qsssai.jpg" caption="" />
        <img src="http://res.cloudinary.com/magnvs/image/upload/v1499922487/ciclo-confSJ1_bbuhlu.jpg" caption=""/>
        <img src="http://res.cloudinary.com/magnvs/image/upload/v1499922488/ciclo-confSJ2_rxjkuk.jpg" caption=""/>
        <img src="http://res.cloudinary.com/magnvs/image/upload/v1499927317/ciclo-confSJ4_uiydu8.jpg" caption="" />
        <img src="http://res.cloudinary.com/magnvs/image/upload/v1499927325/ciclo-confSJ5_vrj9dg.jpg" caption=""/>
        <img src="http://res.cloudinary.com/magnvs/image/upload/v1500232695/ciclo-confSJ5_deappf.jpg" caption=""/>
      </div>
    </div>
  <h3><span class="starG">&#x2605;</span></h3>
</div>
