<div class="site-section-board">
<figure  class='full-width' style="margin-bottom:0!important;margin-top:0!important;">
  <img class="wide" src="//res.cloudinary.com/magnvs/image/upload/v1560488746/n4h70qlirtw4ucwj2dpz.jpg" />

</figure>
<div class="row">
  <div class="col offset-2 col-8">
    <h2 class="league-blue">&laquo;Aporte histórico del Salón en el desarrollo de la cultura ecuatoriana, diferentes enfoques&raquo;</h2>
          <div style="padding: 1rem 2rem;  column-count:2; column-gap: 2em;">
                  <p class="leftie">Con la presente edición, el Salón de Julio cumple 60 años consolidados como uno de los concursos de mayor relevancia de las artes visuales del país; por este motivo es importante y necesario conocer los enfoques del artista, el crítico y el gestor cultural sobre su aporte histórico al desarrollo de la cultura nacional.<br /> <br />Desde sus inicios en 1959, en el Salón han participado cientos de exponentes de la plástica nacional, y aunque para algunos artistas este concurso ha significado valor agregado a su notable trayectoria, con certeza se podría afirmar que para otros ha sido el inicio de una carrera de éxito; es decir, nacieron a la fama en este evento, ahora personajes convertidos en artistas de renombre y cuya obra es necesaria revisar para el estudio de la Historia del Arte Contemporáneo del Ecuador.</p>
          </div>

    <img style="width:200px;" src="//www.museoarteyciudad.com/assets/brand-sj2.svg"/>
  </div>
</div>

<div class="row">
  <div class="col offset-2 col-8">
    <h2 class="league-sm">19-21 JUNIO: CONFERENCIAS PREVIAS AL SALÓN DE JULIO<br /> TRES SEDES:</h2>
  </div>
</div>

<div class="row" style="padding: 0 3em 2em 3em;">
 <div class="col offset-1 col-3 leftie">
  <h2 class="league-sm" style="color:teal;">19 <br />MUSEO MUNICIPAL</h2>
  <div style="border-left: 2px teal solid;padding-left: 10px;">
  <p><strong>Miércoles 19 de junio / 17h00</strong><br />
Presentación del programa especial con ocasión de la sexagésima edición del Salón de Julio.</p>
  <p><strong>Coferencias:</strong><br />
- Hernán Pacurucu<br />
- Hellen Constante
</p>
  </div>
  </div>

  <div class="col col-4 leftie">
  <h2 class="league-sm" style="color:teal;">20 <br />MUSEO NAHIM ISAÍAS</h2>
  <div style="border-left: 2px teal solid;padding-left: 10px;">
  <p><strong>Jueves 20 de junio / 11h00</strong></p>
<p><strong>Conferencias:</strong><br />
- Christian Moreano<br />
- María José Félix<br />
- Robin Echanique
</p>
  </div>
  </div>

  <div class="col col-4 leftie">
  <h2 class="league-sm" style="color:teal;">21 <br />MUSEO PRESLEY NORTON</h2>
  <div style="border-left: 2px teal solid;padding-left: 10px;">
  <p><strong>Viernes 21 de junio / 11h00</strong></p>
<p><strong>Conferencias:</strong><br />
- Larissa Marangoni<br />
- Mirko Rodic<br />
- Billy Soto
</p>
  </div>
  </div>

</div>

<div class="row">
  <div class="col offset-2 col-8">
    <h2 class="league-sm">EXPOSICIÓN PREVIA AL SALÓN DE JULIO<br /> TRES DÉCADAS, TRES SEDES:</h2>
  </div>
</div>

<div class="row" style="padding: 0 3em 2em 3em;">
 <div class="col offset-1 col-3 leftie">
  <h2 class="league-sm" style="color:teal;">1989 - 1998 <br />MUSEO PRESLEY NORTON</h2>
  <div style="border-left: 2px teal solid;padding-left: 10px;">
  <p><strong>20 al 30 de junio</strong></p>
  </div>
  </div>

  <div class="col col-4 leftie">
  <h2 class="league-sm" style="color:teal;">1999 - 2008 <br />MUSEO NAHIM ISAÍAS</h2>
  <div style="border-left: 2px teal solid;padding-left: 10px;">
  <p><strong>20 al 30 de junio</strong></p>

  </div>
  </div>

  <div class="col col-4 leftie">
  <h2 class="league-sm" style="color:teal;">2009 - 2018 <br />MUSEO MUNICIPAL</h2>
  <div style="border-left: 2px teal solid;padding-left: 10px;">
  <p><strong>03 al 13 de julio</strong></p>

  </div>
  </div>

</div>

<div class="aside-b">
<div class="row">

  <div class="col col-6 offset-3">
  <figure style="margin-bottom:0;">
    <img src="//www.museoarteyciudad.com/assets/logos-museos.svg">
  </figure>
  </div>

</div>
</div>

</div><!-- end site-section-board -->
