<body>

        <!-- Add your site or application content here -->

        <div class="full-image">

          <div class="container">
            <div class="site-header clearfix" role=banner>
              <div class=site-logo>PROGRAMA MUSEO ARTE Y CIUDAD
              </div>
              <ul class="site-nav inline-block-list">
                <li>
                  <a href="//salondejulio.com/bases" data-ga-category="Inbound links" data-ga-action="Nav click" data-ga-label="Convocatoria">Convocatoria 2019
                  </a>
                </li>
                <li>
                  <a href="//cdn.filestackcontent.com/C5aocEcQXG5lrd1gvECu" data-ga-category="Outbound links" data-ga-action="Nav click" data-ga-label="Source code">Formulario de inscripción 2019
                  </a>
                </li>

              </ul>
            </div>

            <div class="site-promo">
              <div class="wow bounceInDown">
                <div  class="salon-logo">
                  <img src="//www.museoarteyciudad.com/assets/sj-19.svg"/>
                </div>
            </div>
            </div>
<!--
            <div class="site-promo">
              <h2 >59 SALÓN DE JULIO &ndash; PINTURA<br /><span>&laquo;Fundación de Guayaquil&raquo;</span><br />2018</h2>
            </div> -->

          </div><!-- end of container -->
