<body class="blackmamba">

        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->

        <div class="main">

          <div class="container">
            <div class="site-header clearfix" role=banner>
              <div class=site-logo>PROGRAMA MUSEO ARTE Y CIUDAD
              </div>
              <ul class="site-nav inline-block-list">
                <li>
                  <a href="/bases" data-ga-category="Inbound links" data-ga-action="Nav click" data-ga-label="Convocatoria">Convocatoria
                  </a>
                </li>

                <li>
                  <a href="#registro" data-ga-category="Inbound links" data-ga-action="Nav click" data-ga-label="Source code">Inscripción
                  </a>
                </li>

              </ul>
            </div>

            <div class="wow bounceInDown">
                <div  style="width: 60%; margin:0; margin-left:auto; margin-right:auto;">
                  <img src="/img/fauno-light.svg"/>
                </div>
            </div>

          </div><!-- end of container -->
