<div class="gala">
  <div class="row">
    <div class="col col-12">
      <h3 style="color:#fff;">PREMIACIÓN E INAUGURACIÓN 60º EDICIÓN</h3>
      <p><a href=" " class="button inverted outline" role="button"> <i class="fa fa-paint-brush"></i> MIÉRCOLES 24 de JULIO </a>
      <br/> 19H00</p>
      <p>Auditorio del Museo Municipal de Guayaquil
      </p>
      <p><strong>La exposición estará abierta hasta el 25 de Agosto del 2019</strong>
      <br />Entrada libre
      </p>
    </div>
  </div>
</div>
