<div class="site-section-revista">
<div class="article-mag-wrap">


  <header class="article-mag-header">

    <h4 class="classification-header">
       Quincuagésima Novena Edición
    </h4>

 <figure class="full-width">
      <img class="wide" src="assets/magazine-title-2018.svg" alt="" />
 </figure>


    <h4>

    En la ciudad de Guayaquil, República del Ecuador, a los 20 días del mes de julio de dos mil dieciocho, nos constituimos en Jurado del Salón de Julio “Fundación de Guayaquil, 59 edición, año 2018” conformado por Fernando Baena de nacionalidad española, Gustavo Buntinx de nacionalidad peruana, Justo Pastor Mellado de nacionalidad chilena y en calidad de Director de Salón, Hernán Pacurucu Cárdenas, tomando la decisión de otorgar los premios y menciones.
    </h4>

  <div class="byline">
      &#10086;
    </div>

  </header>

  <div class="intro-ps leftie">
    <p><strong>Los abajo firmantes</strong> miembros del Jurado de Premiación del Salón de Julio, organizado por la Dirección de Cultura de la M. I. Municipalidad de Guayaquil, tras ponderada consideración de los valores comparativos de las obras seleccionadas, definió el siguiente fallo en orden de los méritos a ser reconocidas:</p>

  </div>

<div class="article-mag-body">
    <div class="site-promo">
      <h1>Primer Premio</h1>
    <h3>José Antonio Pinto López<br/>
      <span style="color:#555;">&laquo;Teorías&raquo;</span>
    </h3>

    </div>
    <figure class="full-width">
      <img class="wide" src="https://cdn.filestackcontent.com/3OSz4kiwR0ap8QdkW23I" alt="" />
      <figcaption>
        Hollín y acrílico sobre cartulina fotográfica, 140 X 300 cm. (Políptico)
      </figcaption>
    </figure>

    <div class="byline">
      &#10086;
    </div>

    <div class="site-promo">
    <h1>Segundo Premio</h1>
  <h3>Omar Bereche Briones<br/>
    <span style="color:#555;">&laquo;El objeto, el artista y la sombra&raquo;</span>
  </h3>

  </div>
  <figure class="full-width" >
      <img class="wide" src="https://cdn.filestackcontent.com/mIDESOdOTI2I2sKSpa9X" alt="" />
      <figcaption>
        Acrílico sobre lienzo, 190 X 180 cm. Aprox. (Díptico)
      </figcaption>
    </figure>

<div class="byline">
      &#10086;
    </div>

    <div class="site-promo">
    <h1>Tercer Premio</h1>
    <h3>Jonnathan Mosquera Calle<br/>
      <span style="color:#555;">&laquo;YOU&raquo;</span>
    </h3>

  </div>

  <figure class="full-width" >
    <img class="wide" src="https://cdn.filestackcontent.com/dLn6c12RxSixX0Q3wJsA" alt="" />
    <figcaption class="centro">
      Acrílico sobre lienzo. 115 X 145 cm.
    </figcaption>
  </figure>

  <div class="byline">
      &#10086;
    </div>
  <div class="site-promo centro" >

    <h2>Menciones de honor</h2>
    <h3>Irene Cordovez Gómez</h3>
    <p><strong>&laquo;Sin gravedad&raquo;</strong></p>
    <h3>Emilio Seraquive</h3>
    <p><strong>&laquo;Utensilios desechables&raquo;</strong></p>
    <h3>Andrés Velásquez Dután</h3>
    <p><strong>&laquo;El teatro del mundo&raquo;</strong></p>
  </div>

  </div>
  <br />
  <aside class="in-brief">
    <h3>EL JURADO</h3>
    <div class="in-brief-content">
      <p><strong>Jurado de admisión:</strong> Larissa Marangoni (Ecuador), Billy Soto (Ecuador) y Luis Erazo (Ecuador)</p>
      <p><strong>Jurado de premiación:</strong> Justo Pastor Mellado (Chile), Fernando Baena (España) y Gustavo Buntinx (Perú).</p>
      <p><strong>Director del Salón:</strong> Hernán Pacurucu (Ecuador).</p>
    </div>
  </aside>


</div>
</div>
