<div class="site-section-head">
<div class="article-mag-wrap">


  <header class="article-mag-header">

    <h4 class="classification-header">
       Quincuagésima Octava Edición
    </h4>

 <figure class="full-width">
      <img class="wide" src="img/magazine-title.svg" alt="" />
 </figure>


    <h4>

    En la ciudad de Guayaquil al 18 de julio de 2017, constituído el Jurado de Premiación del Salón de Julio - Pintura "Fundación de Guayaquil", 58 edición año 2017...
    </h4>

  <div class="byline">
      &#10086;
    </div>

  </header>

  <div class="intro-ps leftie">
    <p><strong>Tomando en cuenta</strong> algunos factores relevantes para nuestra decisión, primero comprender la pintura desde una perspectiva ideática , instalar la idea de lo pictórico en un campo reflexivo expandido y definir obras más allá de sostener su propuesta en los lenguajes logran extrapolar contenidos y re pensar los valores y formas de pintura. En una coincidencia colectiva se definieron las siguientes propuestas...</p>

  </div>

<div class="article-mag-body">
    <div class="site-promo">
      <h1>Primer Premio</h1>

    <p class="leftie">El artista plantea una obra donde el ejercicio de la pintura aparece subyacente a la manualidad técnica, aquí más bien responde a un análisis y un proceso donde se investigan las capas arqueológicas de la sociedad actual, extendiendo sus fronteras como un proceso de pintura a un análisis sociocultural. Es por ende una intención de la pintura más que la puesta en escena de un ejercicio de color y forma. Por otro lado y de gran importancia la propuesta ofrece una formalidad sígnica que agencia elementos de la historia del arte, en este caso la abstracción geométrica, nuevamente sobrepasada a sus fronteras formales, más bien  es la resultante denotativa de un laboratorio visual que genera estéticas y formas, ideas y maneras del arte de hoy.</p>
    <h3>Javier Gavilanes S.</h3>
    <p><strong>&laquo;Percepciones entrecruzadas&raquo;</strong></p>

    </div>
    <figure class="full-width" style="margin-top:-5em;">
      <img class="wide" src="https://res.cloudinary.com/magnvs/image/upload/v1500781758/gavilanes_y5ihd1.jpg" alt="" />
      <figcaption>
        Polvo de pintura removida y conservada en celdas de plástico. 300 x 110cm. (Díptico)
      </figcaption>
    </figure>
    
    <div class="byline">
      &#10086;
    </div>

    <div class="site-promo">
    <h1>Segundo Premio</h1>

    <p class="leftie">La obra impone con fuerza gestual, desdibujada y conceptual una reflexión lúcida sobre la sociedad postmoderna, estructurada en un sinfín de simulacros para justificar la locura del consumismo y corrupción inherentes al sistema machista patriarcal representada por un HOMBRE que conquista, domina y destruye todo.</p>

    <h3>Emilio Seraquive.</h3>
    <p><strong>&laquo;La gota que derramó el vaso II (De la serie veredas frías)&raquo;</strong></p>

  </div>
  <figure class="full-width" style="margin-top:-5em;">
      <img class="wide" src="https://res.cloudinary.com/magnvs/image/upload/v1500781642/seraquive_sjwapf.jpg" alt="" />
      <figcaption>
        Óleo, acrílico, carboncillo sobre lienzo y MDF. 180 x 200cm.
      </figcaption>
    </figure>

<div class="byline">
      &#10086;
    </div>

    <div class="site-promo">
    <h1>Tercer Premio</h1>

    <p class="leftie">Esta propuesta establece un campo estándar en el territorio universal de la pintura, bajo un manejo pictográfico de su lenguaje y en una economía medial, en el uso del color y el gesto, nos sitúa en la captura periodística del acontecimiento, desarrollando un territorio en la pintura en donde la verificación de lo real deja en soslayo la especulación subjetiva. Obra que dentro del estándar denunciante deja entrever en sus fisuras una extraña desolación, un síntoma más allá de la realidad referencial que lleva al detenimiento y observación, bajo una escala humana que permite trasladar realidades.</p>
    <h3>Marcel Leonardo Moyano.</h3>
    <p><strong>&laquo;El problema de lo imaginario "LITIGIO" (De la serie prácticas y estratégias de control)&raquo;</strong></p>

  </div>

  <figure class="full-width" style="margin-top:-5em;">
    <img class="wide" src="https://res.cloudinary.com/magnvs/image/upload/v1500781747/moyano_wzrhhc.jpg" alt="" />
    <figcaption class="centro">
      Acrílico sobre lona. 265 x 200cm.
    </figcaption>
  </figure>
  
  <div class="byline">
      &#10086;
    </div>
  <div class="site-promo centro" >

    <h2>Menciones de honor</h2>
    <h3>Beatriz Alexandra Cedeño</h3>
    <p><strong>&laquo;Boceto para adoquín&raquo;</strong></p>
    <h3>Wilson Paccha</h3>
    <p><strong>&laquo;Sin casinos no hay paraíso...&raquo;</strong></p>
    <h3>César Augusto Guale</h3>
    <p><strong>&laquo;Contemplación para curar lo que ellos teorizan...?&raquo;</strong></p>
    <h3>Oswaldo Vicente Terreros</h3>
    <p><strong>&laquo;Proyecto reactivación, repotenciación y revitalización de asociaciones obreras. Boceto de mural del Sol&raquo;</strong></p>
    <h3>Juan Christian Caguana</h3>
    <p><strong>&laquo;Gentrification (Allomerus desermarticulatus)&raquo;</strong></p>
  </div>

  </div>
  <br />
  <aside class="in-brief">
    <h3>EL JURADO</h3>
    <div class="in-brief-content">
      <p><strong>Jurado de admisión:</strong> Robin Echanique (Ecuador), Christian Moreano (Ecuador) y Servio Zapata (Ecuador)</p>
      <p><strong>Jurado de premiación:</strong> Víctor Hugo Bravo (Chile), Eduardo Ribera (Bolivia) y Ricardo Fuentealba-Fabio (Chile).</p>
      <p><strong>Director del Salón:</strong> Hernán Pacurucu (Ecuador).</p>
    </div>
  </aside>
  

</div>
</div>
