<div class="site-section-revista">
<div class="article-mag-wrap">


  <header class="article-mag-header">

    <h4 class="classification-header">
       Sexagésima Edición
    </h4>

 <figure class="full-width">
      <img class="wide" src="assets/magazine-title-2018.svg" alt="" />
 </figure>


    <h4>

    En la ciudad de Guayaquil, República del Ecuador, a los 22 días del mes de julio de dos mil diecinueve, nos constituimos en Jurado del Salón de Julio “Fundación de Guayaquil, 60 edición, año 2019” conformado por Hernán Miranda de nacionalidad chilena, Rodrigo Alonso y Roberto Echen ambos de nacionalidad argentinay en calidad de Director de Salón, Hernán Pacurucu Cárdenas, tomando la decisión de otorgar los premios y menciones.
    </h4>

  <div class="byline">
      &#10086;
    </div>

  </header>

  <div class="intro-ps leftie">
    <p><strong>Tras una fructífera y detallada discusión</strong> sobre las 23 obras seleccionadas, se procedió a declarar los premios y menciones. Es manifiesto que en el salón de Julio 2019 se encuentran presentes obras de significativa madurez y repreesentativas de las principales modalidades de la pintura contemporánea. Por desición unánime, el jurado de premiación a otorgado los siguientes premios y menciones:</p>

  </div>

<div class="article-mag-body">
    <div class="site-promo">
      <h1>Primer Premio</h1>
    <h3>Diana Gardeneira<br/>
      <span style="color:#555;">&laquo;Cojuda, acepta mi halago&raquo;</span>
    </h3>

    </div>
    <figure class="full-width">
      <img class="wide" src="//res.cloudinary.com/magnvs/image/upload/v1564250999/wogj7agji5s0mvhgffu3.jpg" alt="" />
      <figcaption>
        Técnica mixta, 280 X 280 cm. (Políptico)
      </figcaption>
    </figure>

    <div class="byline">
      &#10086;
    </div>

    <div class="site-promo">
    <h1>Segundo Premio</h1>
  <h3>Emilio Seraquive<br/>
    <span style="color:#555;">&laquo;Waluigi smash ultimate o lojano mata a lojano&raquo;</span>
  </h3>

  </div>
  <figure class="full-width" >
      <img class="wide" src="//res.cloudinary.com/magnvs/image/upload/v1564251031/x74ehzhsuey63bm25zpo.jpg" alt="" />
      <figcaption>
        Técnica mixta, 180 X 240 cm. Aprox. (Díptico)
      </figcaption>
    </figure>

<div class="byline">
      &#10086;
    </div>

    <div class="site-promo">
    <h1>Tercer Premio</h1>
    <h3>Dennys Navas La Rosa<br/>
      <span style="color:#555;">&laquo;Vigilia de un demiurgo&raquo;</span>
    </h3>

  </div>

  <figure class="full-width" >
    <img class="wide" src="//res.cloudinary.com/magnvs/image/upload/v1564251057/lilcc1nvej0go1so7avr.jpg" alt="" />
    <figcaption class="centro">
      Acrílico sobre lienzo. 270 X 280 cm.
    </figcaption>
  </figure>

  <div class="byline">
      &#10086;
    </div>
  <div class="site-promo centro" >

    <h2>Menciones de honor</h2>
    <h3>Pedro Gavilanes Sellán</h3>
    <p><strong>&laquo;Un lance en un lazo&raquo;</strong></p>
    <h3>Roger Pincay García</h3>
    <p><strong>&laquo;Anagrama de la réplica&raquo;</strong></p>
    <h3>Ivanna Coello González</h3>
    <p><strong>&laquo;Retazos desde 1940&raquo;</strong></p>
  </div>

  </div>
  <br />
  <aside class="in-brief">
    <h3>EL JURADO</h3>
    <div class="in-brief-content">
      <p><strong>Jurado de admisión:</strong> Olmedo Alvarado (Ecuador), Christian Moreano (Ecuador) y Victoria Bastidas (Ecuador).</p>
      <p><strong>Jurado de premiación:</strong> Hernán Miranda (Chile), Rodrigo Alonso (Argentina) y Roberto Echen (Argentina).</p>
      <p><strong>Director del Salón:</strong> Hernán Pacurucu (Ecuador).</p>
    </div>
  </aside>


</div>
</div>
