 <div id="prog" class="site-section site-section-video">

          <div class="container">
            <h2 class="league-two">SEXAGÉSIMA EDICIÓN</h2>
          <img style="width:50%;" src="/assets/premios-SJ.svg"/>
          </div>

            <div class="row">
              <div class="col col-12">
                <ul class="wild">
                  <p>
                    La <strong>M. I. Municipalidad de Guayaquil</strong>, la <strong>Dirección de Cultura</strong> y el <strong>Museo Municipal</strong> otorgarán <strong>USD$ 20.000,oo</strong> &ndash;veinte mil&ndash; dólares de los Estados Unidos americanos, en premios, repartidos de la siguiente manera:
                  </p>
                  <li>
                    <h3>PRIMER PREMIO &laquo;FUNDACIÓN DE GUAYAQUIL&raquo;<span><br /> USD$ 10.000,oo</span> </h3>
                  </li>
                  <li>
                    <h3>SEGUNDO PREMIO &laquo;FUNDACIÓN DE GUAYAQUIL&raquo;<span><br /> USD$ 6.000,oo</span></h3>
                  </li>
                  <li>
                    <h3>TERCER PREMIO &laquo;FUNDACIÓN DE GUAYAQUIL&raquo;<span><br /> USD$ 4.000,oo</span></h3>
                    <p>El jurado de premiación además otorgará <strong>menciones honoríficas</strong> sin orden de jerarquía, las cuales se acreditarán por medio de un diploma.</p>
                  </li>
                </ul>

              </div>
            </div>

</div>
