<div class="premiere-c">

<div class="row">

  <div class="col col-3">
  </div>

<div class="col col-6">
  <p><span class="suscrib" style="font-weight:bold; font-size: 2em;">Ciclo de Conferencias</span><br />El ciclo de conferencias de arte del Salón de Julio se realizará en el<br  /><b>AUDITORIO DEL CENTRO DE DIFUSIÓN CULTURAL</b> (Avioncito)<br  />de la <b>Universidad Católica Santiago de Guayaquil</b> UCSG del <b>18 al 20 de julio</b> de acuerdo con el siguiente conograma:</p>
</div>

  <div class="col col-3">
  </div>

</div>

<div class="row gutters">
  <div class="col col-3">
  </div>
  <div class="col col-2">
    <figure>
      <img class="rounds" src="https://cdn.filestackcontent.com/YBwWC9iJS52mek1vSIQF" />
    </figure>
  <h3 style="color:brown;">MIÉRCOLES 18</h3>
  <h3>Fernando Baena</h3>
  <p>&laquo;Explotación y precariedad artística&raquo;</p>
  <p><strong><i class="fa fa-clock-o"></i> 10H30</strong></p>
  </div>
  <div class="col col-2">
    <figure>
      <img class="rounds" src="https://cdn.filestackcontent.com/kKF89p64QnevkVG5azgf" />
    </figure>
  <h3 style="color:brown;">JUEVES 19</h3>
  <h3>Gustavo Buntinx</h3>
  <p>&laquo;Arte contemporáneo de Perú&raquo;</p>
  <p><strong><i class="fa fa-clock-o"></i> 14H00</strong></p>

  </div>
  <div class="col col-2">
    <figure>
      <img class="rounds" src="https://cdn.filestackcontent.com/FUfHS4EQSqEKGBtYHrQU" />
    </figure>
  <h3 style="color:brown;">VIERNES 20</h3>
  <h3>Justo Pastor</h3>
  <p>&laquo;Estudio de unas obras decisivas&raquo;<br /><small>El Centro de Estudios de Arte y el coleccionismo privado de utilidad pública</small></p>
  <p><strong><i class="fa fa-clock-o"></i> 10H30</strong></p>
  </div>
  <div class="col col-3">
  </div>
</div><!-- end row gutters CONFERENCISTAS -->

</div>
