 <div id="prog" class="site-section site-section-video">

   <div class="article-mag-header" style="padding-top:50px;">
     <h4 class="classification-header">
        Quincuagésima Novena Edición
     </h4>
   </div>
          <div class="container">
            <h2 class="league-three">INSCRIPCIONES ABIERTAS <br/>HASTA EL 28 DE JUNIO DE 2018</h2>

            <h2 style="color:#4d5c6b" >PREMIOS</h2>
            <div class="row">
              <div class="col col-12">
                <ul class="wild">
                  <p>
                    La <strong>M. I. Municipalidad de Guayaquil</strong>, la <strong>Dirección de Cultura</strong> y el <strong>Museo Municipal</strong> otorgarán <strong>USD$ 20.000,oo</strong> &ndash;veinte mil&ndash; dólares de los Estados Unidos americanos, en premios, repartidos de la siguiente manera:
                  </p>
                  <li>
                    <h3>PRIMER PREMIO <br />&laquo;FUNDACIÓN DE GUAYAQUIL&raquo;<br  /><span>USD$ 10.000,oo</span> </h3>
                  </li>
                  <li>
                    <h3>SEGUNDO PREMIO <br />&laquo;FUNDACIÓN DE GUAYAQUIL&raquo;<br  /><span>USD$ 6.000,oo</span></h3>
                  </li>
                  <li>
                    <h3>TERCER PREMIO <br />&laquo;FUNDACIÓN DE GUAYAQUIL&raquo;<br  /><span>USD$ 4.000,oo</span></h3>
                    <p>El jurado de premiación además otorgará <strong>menciones honoríficas</strong> sin orden de jerarquía, las cuales se acreditarán por medio de un diploma.</p>
                  </li>
                </ul>

              </div>
            </div>
          </div>
        </div><!-- end site-section with grid -->
