<figure  class='full-width' style="margin-bottom:0!important;margin-top:0!important;">
  <img class="wide" src="//res.cloudinary.com/magnvs/image/upload/v1561850449/cjrggawnzeilalxlbcdc.jpg" />

</figure>

<div class="premiere-c">

<div class="row">

  <div class="col col-2">
  </div>

<div class="col col-8" style="padding:25px;">
  <p><span class="suscrib" style="font-weight:bold; font-size: 2em;">Ciclo de Conferencias 2019</span><br />El ciclo de conferencias de arte del Salón de Julio se realizará en el <b>AUDITORIO DEL CENTRO DE DIFUSIÓN CULTURAL</b> (Avioncito) de la <b>Universidad Católica Santiago de Guayaquil</b> UCSG los días <b>19 y 22 de julio</b>; el martes <b>23</b> la conferencia será en la <b>Escuela Superior Politécnica del Litoral</b> ESPOL, de acuerdo con el siguiente conograma:</p>
</div>

  <div class="col col-2">
  </div>

</div>

<div class="row gutters" style="margin: 0 4em 0 4em;padding-bottom: 5em;">

  <div class="col col-4">
  <h3 style="color:brown;">VIERNES 19</h3>
  <p><strong>Hernán Pacurucu</strong> - Director del Salón de Julio</p>
  <p><strong>Christian Moreano</strong> - Jurado de admisión (Chile)</p>
  <p><strong><i class="fa fa-clock-o"></i> 18H00</strong></p>

  </div>
  <div class="col col-4">
  <h3 style="color:brown;">LUNES 22</h3>
  <p><strong>Roberto Echen</strong> - Jurado de premiación (Argentina)</p>
  <p><strong>Rodrigo Alonso</strong> - Jurado de premiación (Argentina)</p>
  <p><strong><i class="fa fa-clock-o"></i> 18H00</strong></p>

  </div>
  <div class="col col-4">
  <h3 style="color:brown;">MARTES 23</h3>
  <p><strong>Hernán Miranda</strong> - Jurado de premiación</p>
  <p><strong><i class="fa fa-clock-o"></i> 15H30</strong></p>

  </div>

</div><!-- end row gutters CONFERENCISTAS -->

</div>
