<div id="registro" class="site-section site-section-actividades">
  <h2 class="league-two">INSCRIPCIÓN</h2>
  <ul class="in-the-wild">
    <li>
      <h3>1. Revisa las <a href="/bases">bases de participación</a> que se incluyen en la convocatoria al 59º Salón de Julio &mdash; Pintura &laquo;Fundación de Guayaquil&raquo;</h3>
      <p>Reune la <strong>documentación del artista</strong> y la <strong>documentación de la obra propuesta</strong> solicitadas en la sección &laquo;DE LOS DOCUMENTOS A PRESENTARSE&raquo;</p>
    </li>
    <li>
      <h3>2. Descarga e imprime el <a href="https://cdn.filestackcontent.com/Jwg6RrWrR22BRRkxKoyO">formulario de inscripción</a> (llena tres copias firmadas) y adjúntalas a la DOCUMENTACIÓN DEL ARTISTA.</h3>
      <p>La DOCUMENTACIÓN COMPLETA deberá ser presentada, en un sobre, en las oficinas del <strong>Museo Municipal</strong> (Chile, entre Av. 10 de Agosto y Sucre) hasta las 17h00 del día <strong>28 de junio de 2018</strong>.</p>
    </li>
    <li>
      <h3>3. Completa el <a href="https://goo.gl/forms/h9PgVhVfDDaumV9w2">registro digital</a> en línea.</h3>
      <p>Nos ayuda a recabar información para un eficaz registro de los participantes.</p>
    </li>
    <li>
      <h3 style="color:#fff;"> RECUERDA QUE LA ÚNICA MANERA DE HACER EFECTIVO TU REGISTRO ES INGRESANDO EL FORMULARIO DE INSCRIPCIÓN EN LAS OFICINAS DEL MUSEO MUNICIPAL</h3>
    </li>

  </ul>

  <div class="cta-option">
    <a class="btn btn-download" href="hhttps://cdn.filestackcontent.com/Jwg6RrWrR22BRRkxKoyO" data-ga-category="Inbound links">
      <strong>Formulario
      </strong>
      <span class="version"> de inscripción
      </span>
    </a>
  </div>

      <div class="cta-option">
        <a class="btn btn-download" href="https://goo.gl/forms/h9PgVhVfDDaumV9w2" data-ga-category="Outbound links" >
          <strong>Registro
          </strong>
          <span class=version>digital
          </span>
        </a>
      </div>


  </div>
