 <div class="site-section-head">
          <div class="container">
            <h2 class="league-two" >CICLO DE CONFERENCIAS 2017</h2>
            <div class="grid" style="color:#1a1a1a !important; ">
			
              <div class="grid-cell-b">
                <h3>Lunes 17 de Julio
                    <br  />18H00
                </h3>
                <h5><span class="star">&#x2605;
                </span>Expositor</h5>
                <h4>Pronto estaremos anunciando el tema de una interesante conferencia sobre arte contemporáneo</h4>
                <p>Auditorio del Museo Municipal</p>
                <h3 style="text-align:center !important;"><i class="fa fa-microphone"></i></h3>
              </div>
              <div class="grid-cell-b">
                <h3>Lunes 17 de Julio
                    <br  />19H00
                </h3>
                <h5><span class="star">&#x2605;
                </span>Expositor</h5>
                <h4>Pronto estaremos anunciando el tema de una interesante conferencia sobre arte contemporáneo</h4>
                <p>Auditorio del Museo Municipal</p>
                <h3 style="text-align:center !important;"><i class="fa fa-microphone"></i></h3>
              </div>
              <div class="grid-cell-b">
                <h3>Martes 18 de Julio
                    <br  />16H00
                </h3>
                <h5><span class="star">&#x2605;
                </span>Expositor</h5>
                <h4>Pronto estaremos anunciando el tema de una interesante conferencia sobre arte contemporáneo</h4>
                <p>Auditorio de la Licenciatura en Turismo - ESPOL</p>
                <h3 style="text-align:center !important;"><i class="fa fa-microphone"></i></h3>
              </div>
               <div class="grid-cell-b">
                <h3>Martes 18 de Julio
                    <br  />17H00
                </h3>
                <h5><span class="star">&#x2605;
                </span>Expositor</h5>
                <h4>Pronto estaremos anunciando el tema de una interesante conferencia sobre arte contemporáneo</h4>
                <p>Auditorio de la Licenciatura en Turismo - ESPOL</p>
                <h3 style="text-align:center !important;"><i class="fa fa-microphone"></i></h3>
              </div>
              <div class="grid-cell-b">
                <h3>Miércoles 19 de Julio
                    <br  />18H00
                </h3>
                <h5><span class="star">&#x2605;
                </span>Expositor</h5>
                <h4>Pronto estaremos anunciando el tema de una interesante conferencia sobre arte contemporáneo</h4>
                <p>Auditorio del Museo Municipal</p>
                <h3 style="text-align:center !important;"><i class="fa fa-microphone"></i></h3>
              </div>
		<div class="grid-cell-b">
                <h3>Miércoles 19 de Julio
                    <br  />19H00
                </h3>
                <h5><span class="star">&#x2605;
                </span>Expositor</h5>
                <h4>Pronto estaremos anunciando el tema de una interesante conferencia sobre arte contemporáneo</h4>
                <p>Auditorio del Museo Municipal</p>
                <h3 style="text-align:center !important;"><i class="fa fa-microphone"></i></h3>
              </div>

            </div>
          </div>
        </div><!-- end site-section with grid -->
