
<div class="site-section-timex">
<div id="content-time">
  <h1 class="time">Salón de Julio &mdash; Desde 1959</h1>

  <ul class="timeline">
    <li class="event" data-date="25 de Julio - 1959">
      <h3>Primer Salón Municipal de Pintura "Fundación de Guayaquil"</h3>
      <p>La novísima Biblioteca Municipal de Guayaquil (inaugurada en Oct. 1958) fue la sede del Primer Salón Municipal de Pintura, la muestra sería inaugurada por el Alcalde Luis Robles Plaza y tuvo como invitado especial al Presidente Camilo Ponce Enríquez. Los artistas Manuel Rendón y Oswaldo Guayasamín también expusieron -fuera de concurso- una selección especial de sus obras para dar mayor realce al evento.</p>
    </li>
    <li class="event" data-date="1º Edición - 1959">
    
	  <img class="derecha" src="/img/wulf.jpg"/>    
      <h3>El Primer Premio</h3>
      <p>La primera obra en ganar el Salón de Julio fue &laquo;Danzantes&raquo; del pintor norteamericano Lloyd Wulf. El Primer Premio Adquisición - Banco de Guayaquil, otorgó 15.000 Sucres al triunfador de entre 64 obras seleccionadas; los premios eran siete.</p>
    </li>
    <li class="event" data-date="Personajes del arte">
      <h3>Trascendencia del Salón de Julio</h3>
      <p>Artistas de renombre y trayectoria que figuran en el arte contemporáneo de Ecuador están entre los premiados en la historia del Salón, así por ejemplo, constan Humberto Moré (1929 - 1984), Theo Constante (1934 - 2014), Segundo Espinel (1911 - 1996), Enrique Tábara ( Nacido en 1930), León Ricaurte (1934 - 2003), entre otros. </p>
    </li>
     <li class="event" data-date="Ganadoras del Salón">
     <img class="izquierda" src="/img/garcia.jpg"/>
      <h3>Entre dos siglos</h3>
      <p>Desde la edición del año 2000 hasta la del 2017, en cuatro ocasiones, han ganado el Primer premio mujeres: Hellen Constante (2001), María Gabriela Chérrez (2007), Mayra Silva (2010) y Mónica López (2014). En el siglo pasado la única artista plástica en conseguir el Primer Premio fue Mariella García C. (1981). </p>
    </li>
    <li class="event" data-date="59 Ediciones">
       
      <h3>1959 - 2018</h3>
      <p>Son casi 60 años desde la primera edición del Salón y solamente en 1963 y 1970 no se realizó el Salón, debido a las conflictivas circunstancias políticas de la nación. En 1984 y 1992 el Salón de Julio declaró desierto el Primer Premio.</p>
    </li>
    <li class="event" data-date="Los más premiados">
    <img class="derecha" src="/img/morocho.jpg"/> 
      <h3>Carreño, Zúñiga y Morocho</h3>
      <p>El artista plástico más galardonado del Salón es José Carreño, en tres ediciones obtuvo el Primer Premio (1971, 1973 y 1975); Hernán Zúñiga en dos (1978 y 1987); y, Jorge Morocho en dos años consecutivos: 2015 y 2016.</p>
    </li>
  </ul>
</div>
</div>