<div class="contain-timeline">

  <div class="timeline">
    <div class="swiper-container">
      <div class="swiper-wrapper">
	      
        <div class="swiper-slide" style="background-image:url(https://res.cloudinary.com/magnvs/image/upload/v1527699411/1959_yn04qo.jpg);" data-year="1959">
          <div class="swiper-slide-content"><span class="timeline-year">1959</span>
            <h4 class="timeline-title">Lloyd Wulf</h4>
            <p class="timeline-text">DANZANTES (Detalle).<br />Óleo sobre textil; 127 x 86 cm.</p>
          </div>
        </div>
        <div class="swiper-slide" style="background-image: url(https://res.cloudinary.com/magnvs/image/upload/v1527699414/1969_npkfmb.jpg);" data-year="1969">
          <div class="swiper-slide-content"><span class="timeline-year">1969</span>
            <h4 class="timeline-title">León Ricaurte</h4>
            <p class="timeline-text">POR FALTA DE DINERO LA MUERTE -Dibujo mural #3- (Detalle).<br />Collage; 159.5 x 120 cm.</p>
          </div>
        </div>
        <div class="swiper-slide" style="background-image: url(https://res.cloudinary.com/magnvs/image/upload/v1527699417/1976_kknsjj.jpg);" data-year="1976">
          <div class="swiper-slide-content"><span class="timeline-year">1976</span>
            <h4 class="timeline-title">Luis Miranda</h4>
            <p class="timeline-text">TRANSICION POLICROMA DE UN PUEBLO (Detalle).<br />Óleo sobre textil; 207 x 129 cm.</p>
          </div>
        </div>
        <div class="swiper-slide" style="background-image: url(https://res.cloudinary.com/magnvs/image/upload/v1527699420/1985_eqw0th.jpg);" data-year="1985">
          <div class="swiper-slide-content"><span class="timeline-year">1985</span>
            <h4 class="timeline-title">Edgar Carrasco</h4>
            <p class="timeline-text">AMANECER EN VENUS (Detalle).<br /> Técnica mixta / cobre; 100 x 200 cm.</p>
          </div>
        </div>
        <div class="swiper-slide" style="background-image: url(https://res.cloudinary.com/magnvs/image/upload/v1527699424/1993_fzvidq.jpg);" data-year="1993">
          <div class="swiper-slide-content"><span class="timeline-year">1993</span>
            <h4 class="timeline-title">Jorge Velarde</h4>
            <p class="timeline-text">SIN TÍTULO (Detalle).<br />Medidas: 203 x 150.5 cm.</p>
          </div>
        </div>
        <div class="swiper-slide" style="background-image: url(https://res.cloudinary.com/magnvs/image/upload/v1527699428/2005_cs90ci.jpg);" data-year="2005">
          <div class="swiper-slide-content"><span class="timeline-year">2005</span>
            <h4 class="timeline-title">Illich Castillo</h4>
            <p class="timeline-text">COMO SE ENCIENDEN LOS DISCURSOS POPULARES SEGÚN 
             HOMS (Detalle).<br />Esmalte sobre papel; 230 x 230 cm.</p>
          </div>
        </div>
      </div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</div>