<div class="site-section site-section-video">
  <h2 class="league-three">58&deg; {{ site.name }}
  </h2>
  <div class="content">
    <div class="flex-embed">
      <a href="https://www.youtube.com/embed/_-RCAqzG3Zk" data-ga-category="Outbound links" data-ga-action="Watch video" data-ga-label="Introduction to HTML5 Boilerplate v5">
        <img src="/img/afiche.jpg" width="480" height="360" alt="video thumbnail">
        <div class=play-btn>
        </div>
      </a>
    </div>
    <div class=cta-option>
      <a class="btn btn-alt" href="https://youtu.be/_-RCAqzG3Zk" data-ga-category="Outbound links" data-ga-action="Watch video" data-ga-label="Video playlist">
        <strong><i class="fa fa-youtube-play" aria-hidden"true"></i></strong>
        <span class=version>Salón de Julio
        </span>
      </a>
    </div>
    
     <p><small style="color:#1a1a1a;">PRODUCCIÓN AUDIOVISUAL POR <a href="https://www.avitmedia.net/"><img src="https://static.wixstatic.com/media/d01315_7a35ebf845ae41009a956910d8dc33a2~mv2.png/v1/fill/w_150,h_32,al_c,usm_0.66_1.00_0.01/d01315_7a35ebf845ae41009a956910d8dc33a2~mv2.png"/></a></small></p>

  </div>
</div>
