<div class="site-section site-section-video">
  <h2 class="league-three">58&deg; {{ site.name }}
  </h2>
  <div class="content">
    <div class="flex-embed">
      <a href="https://www.youtube.com/embed/D9SyB6uPY7c?autoplay=1&amp;vq=hd720" data-ga-category="Outbound links" data-ga-action="Watch video" data-ga-label="Introduction to HTML5 Boilerplate v5">
        <img src="/img/afiche.jpg" width="480" height="360" alt="video thumbnail">
        <div class=play-btn>
        </div>
      </a>
    </div>
    <div class=cta-option>
      <a class="btn btn-alt" href="https://www.youtube.com/watch?v=WkLO-q2wC80&amp;index=2&amp;list=PLdWHXDIdpitG0Ttvat9G5wJoqaU9cQvHh" data-ga-category="Outbound links" data-ga-action="Watch video" data-ga-label="Video playlist">
        <strong><i class="fa fa-youtube-play" aria-hidden"true"></i></strong>
        <span class=version>Salón de Julio
        </span>
      </a>
    </div>

  </div>
</div>
