{% include head.html %}
{% include header.html %}

<div class="site-section-first">
          <div class=container>

            <div class=grid>
              <div class=grid-cell>
                <img src="/img/logo-municp.svg"/>

              </div>
              <div class=grid-cell>
                <img src="/img/museo-w.svg"/>

              </div>
              <div class=grid-cell>
                <img src="/img/macm.svg"/>

              </div>
            </div>

          </div>
        </div>    <!-- End site section-head -->

{% include magazine.html %}

{% include agenda-lnx.html %}
<figure class='full-width' style="margin-top:0; margin-bottom:0 !important;">
  <img class="wide" src="/img/mi-city2.jpg">
</figure>

{% include agenda.html %}
       
{{ content }}


{% include vid.html %}
{% include boletin-reg.html %}
{% include aside.html %}
{% include footer.html %}

        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script>window.jQuery || document.write('<script src="/JS/vendor/jquery-1.12.0.min.js"><\/script>')</script>
        <script src="/JS/plugins.js"></script>
        <script src="/JS/main.js"></script>
        <script src="/JS/kube.js"></script>
        <script src="/JS/wow.js"></script>
        <script src="/JS/BigPicture.js"></script>
        <script src="/JS/BigPicture-page.js"></script>

        <script>
        wow = new WOW(
                {
                  animateClass: 'animated',
                  offset: 100
                }
        )
        wow.init()
        </script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-61793200-2', 'auto');
  ga('send', 'pageview');

        </script>

    </body>
</html>
