{% include head.html %}
{% include header.html %}

<div class="site-section-first">
          <div class=container>

            <div class=grid>
              <div class=grid-cell>
                <img src="/img/logo-municp.svg"/>

              </div>
              <div class=grid-cell>
                <img src="/assets/museo-alt.svg"/>

              </div>
              <div class=grid-cell>
                <img src="/img/macm-w.svg"/>

              </div>
            </div>

          </div>
        </div>    <!-- End site section-head -->
        </div><!-- end of full-image -->

{% include agenda.html %}
{% include premios.html %}

<figure class="full-width" style="margin-top:0;background:#131A22;">
      <img class="wide" src="https://res.cloudinary.com/magnvs/image/upload/v1527699417/1976_kknsjj.jpg" alt="" />
      <figcaption style="color:#fff;">
        Luis Miranda. TRANSICION POLICROMA DE UN PUEBLO (Detalle). Óleo sobre tela; 207 x 129 cm. Primer Premio año 1976.
      </figcaption>
    </figure>

{% include registro.html %}

<figure class="full-width" style="margin-top:0;background:#131A22;">
      <img class="wide" src="https://res.cloudinary.com/magnvs/image/upload/v1527779285/2000_vgtr4c.jpg" alt="" />
      <figcaption style="color:#fff;">
        Tomas Ochoa. QUIEN NOS REPRESENTA Y MAQUINA DE GUERRA (Detalle). Técnica mixta; políptico 180 x 391 cm. Primer Premio año 2000.
      </figcaption>
    </figure>

{% include timeline.html %}
{% include magazine.html %}

{{ content }}

{% include footer.html %}

        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/js/swiper.min.js"></script>


        <script>window.jQuery || document.write('<script src="/JS/vendor/jquery-1.12.0.min.js"><\/script>')</script>
        <script src="/JS/wow.js"></script>

        <script>
        wow = new WOW(
                {
                  animateClass: 'animated',
                  offset: 100
                }
        )
        wow.init()
        </script>


        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-61793200-2', 'auto');
  ga('send', 'pageview');

        </script>

    </body>
</html>
