{% include head.html %}
{% include header.html %}
<div class="site-section-first">
  <h2 class="league">NOTICIAS</h2>
</div>


        <div class="site-section-head">
          <section>
            <article>
              <div class="blank"></div>

              <img  style="border-radius:7px 7px 0 0;" src="/img/snake.png" />

              {% if page.image %}
              <img style="border-radius:0 0 7px 7px;" src="{{ page.image }}" alt="Fotografía de {{ page.title }}">
              {% endif %}

            </article>
            <article>
              <h1>{{ page.title }}</h1>
              {{ content }}
            </article>

            <article class="data">
              <div class="blank"></div>

              {% if page.image %}
              <img src="{{ page.image }}" alt="Fotografía de {{ page.title }}">
              {% endif %}

              <h5>{{ page.autor }}</h5>
              <h5><span>{{ page.obra }}</span></h5>
              <h5>{{ page.tecnica }}</h5>
              <h5><b>{{ page.premio }}</b></h5>

            </article>
          </section>
        </div>

{% include logos.html %}
{% include registro.html %}

        <div class="w100 site-section-nm">
          <figure class="wow fadeInUp">
              <img src="/img/afiche.jpg"/>
          </figure>
        </div>

{% include aside.html %}
{% include footer.html %}

        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script>window.jQuery || document.write('<script src="/JS/vendor/jquery-1.12.0.min.js"><\/script>')</script>
        <script src="/JS/plugins.js"></script>
        <script src="/JS/main.js"></script>
        <script src="/JS/kube.js"></script>
        <script src="/JS/wow.js"></script>

        <script>
        wow = new WOW(
                {
                  animateClass: 'animated',
                  offset: 100
                }
        )
        wow.init()
        </script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='https://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script>
        <script>
        !function(t,e){
            "use strict";
            function a(t,n){
              return t.hasAttribute(n)===!0?t:t.parentNode!==r.body?a(t.parentNode,n):e}
            function n(n){
              var o,i,r,c,g,u=a(n.target,"data-ga-action"),l=!1;
              u!==e&&(o=u.getAttribute("data-ga-action")||e,i=u.getAttribute("data-ga-category")||e,r=u.getAttribute("data-ga-label")||e,c=u.getAttribute("href"),g=parseInt(u.getAttribute("data-ga-value"),10)||e,ga!==e&&i!==e&&o!==e&&(n.preventDefault(),"Download"!==i&&n.ctrlKey!==!0&&n.metaKey!==!0&&2!==n.which||(l=!0,t.open(c)),function(a){
                var n;
                ga("send","event",i,o,r,g,{
                  hitCallback:function(){
                    l===!1&&(n!==e&&clearTimeout(n),t.location=a)}
                }
                  ),n=setTimeout(function(){
                  l===!1&&(t.location.href=a)}
                                 ,1e3)}
      (c)))}
            function i(){
              !function(t,e,a){
                var n,o=t.getElementsByTagName(e)[0];
                t.getElementById(a)||(n=t.createElement(e),n.id=a,n.src="//platform.twitter.com/widgets.js",o.parentNode.insertBefore(n,o))}
              (r,"script","twitter-wjs")}
            var r=t.document;
            o(),t.onload=i}
          (window)
          </script>

    </body>
</html>
